<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AR Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: center;">
    <h1>AR Creator</h1>
    <ion-button style="margin: 2%; width: 20%; font-size: larger;" (click)="upload()">Upload</ion-button>
    <ion-button style="margin: 2%; width: 20%; font-size: larger;" (click)="create()">Create Codes</ion-button>
    <ion-button style="margin: 2%; width: 20%; font-size: larger;" (click)="yourmodels()">Your models</ion-button>
  </div> 
</ion-content>
